body{
  /*margin-left: 5%;*/
  font-family: 'Cormorant Garamond', serif;
}

header {
  /*position:fixed;*/
  top: 0;
  background-color: gainsboro;
  background-image: linear-gradient(gainsboro, white);
  display: block;
  width: 100%;
  padding: 20px;
}

main {
  margin: 20px 100px 0 100px;

}

h1 {
  font-size: 50px;
  padding: 10px 10px;
  margin-left: 80px;
}


h2 {
  font-size: 25px;
  margin: 20px;
  margin-left: 100px;
}

menu {
  margin: 10px 10px 20px 100px;
  display: flex;
  flex-wrap: wrap;
  /*align-content: center;*/
}

menuitem a {
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  /*border: 1px solid thistle;*/
  text-decoration: none;
}

a:hover {
  background-color: thistle;
}

input {
  margin-left: 100px;
  font-size: 22px;
}

h3 {
  font-size: 35px;
  margin: 20px;
}
dt {
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 22px;
  /*font-weight: bolder;*/
  text-decoration: underline;
}

dd {
  margin-left: 42px;
  margin-bottom: 42px;
  font-size: 20px;
  font-weight: lighter;
}
